* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Butler";
  font-weight: 300;
}
h1,
h2 {
  font-size: 96px;
  line-height: 96px;
}
h3 {
  font-size: 64px;
}
h5 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #333;
  font-family: "Roboto", sans-serif;
}
section,
footer {
  position: relative;
}

/* CUSTOM STYLE */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
header ul li {
  list-style: none;
  display: inline-table;
  margin: 0 25px;
}
header ul li a {
  text-transform: uppercase;
  position: relative;
}
header ul li a:before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all ease 1s;
}
header ul li a:hover:before {
  width: 100%;
}

/* HERO SECTION  */
.hero_sec {
  padding: 100px 0;
  text-align: center;
}
.hero_sec p {
  text-transform: uppercase;
}
.hero_text h1 {
  text-transform: uppercase;
  margin: 30px 40px;
}
.btn-primary {
  text-transform: uppercase;
  display: inline-table;
  padding: 25px 40px;
  border: 2px solid rgba(e, 0, 0, 0.07);
  position: relative;
  z-index: 2;
  transition: all ease 1s;
}
.btn-primary:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  transition: all ease 2s;
}
.btn-primary:hover:before {
  width: 100%;
}
.btn-primary:hover {
  color: #fff;
}
.hero_sec .star {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: -1;
}
.circular_text img,
.star img {
  animation: star 30s linear infinite;
}

@keyframes star {
  to {
    transform: rotate(360deg);
  }
}

/* / SECTION 1/ */
.sec1 {

}
.sec1_img_group {
  display: flex;
  justify-content: space-between;
}
.sec1_img3 {
  display: flex;
  align-items: flex-end;
}

/* SECTION 2 */
.sec2 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.sec_text {
  max-width: 500px;
}
.sec_text h2 {
  text-transform: uppercase;
}
.sec_text .sec_text_desc {
  padding-left: 80px;
  border-left: 2px solid rgba(0, 0, 0, 0.07);
}
.sec_text .sec_text_desc_p {
  margin: 55px 0 40px;
}

/* /* SECTION 3 / */
.sec3 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.sec4 {
  padding: 100px;
  text-align: center;
}
.sec4 h3 {
  text-transform: uppercase;
  padding: 0 70px;
}
.sec4_img_group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sec4_img_group .sec4_img2 {
  margin: 130px -50px 0;
  z-index: 9;
}
.sec4 .star {
  position: absolute;
  top: 220px;
  left: 450px;

}

/* SECTION 5 */
.sec5 {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay_text {
  position: absolute;
}
.sec5 h2 {
  text-transform: uppercase;
}
.sec5 video {
  width: 100%;
}

/* / SECTION 6 */
.sec6{
  margin-bottom: 50px;
}
.sec6 .image_slider .item {
  padding: 0 10px;
  margin: 50px;
}
.sec6 .image_slider img {
  width: 100%;
}
/* FOOTER */
footer {
  padding: 125px 0 225px;
  text-align: center;
  background-color: #1f1f1f;
}
footer .circular_text {
  margin-top: -280px;
  z-index: 9;
  margin-bottom: 10px;
  height: 350px;
}
footer .circular_text img{
  width: 400px;
  height: 400px;
}
footer p {
  color: aqua;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}
footer a {
  font-size: 64px;
  color: #fff;
  font-family: Butler;
  font-weight: 300;
  position: relative;
}
footer a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: all ease 1s; 
}
footer a:hover::before{
  width: 100%;
}